<!--
 * @Date: 2022-07-35 20:55:05
 * @LastEditors: linxiaozhou.com
 * @Description: A demo page
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>electron-jquery-app</title>

    <link rel="stylesheet" href="./fonts/ubuntu.css" />
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="./fontawesome-free-6.0.0-beta3-web/css/all.css"
    />

    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/better.css" />
  </head>

  <body
    class="scrollbar"
    style="
      user-select: auto;
      -webkit-user-select: auto;
      overflow-y: auto;
      background: #333;
      color: #fff;
    "
  >
    <div style="padding: 10%">
      <h1>This page is from server</h1>
      <div>An electron-jquery app supply this server</div>
      <small>©2022 <%- author %></small>
    </div>
    <script src="./js/libs/jquery.min.js"></script>
    <script src="./js/libs/popper.min.js"></script>
    <script src="./js/libs/bootstrap.min.js"></script>
    <script src="./js/libs/marked.min.js"></script>
    <script src="./js/libs/dayjs.min.js"></script>
    <script src="./js/libs/echarts.min.js"></script>
  </body>
</html>
